const RegisterSchema = new mongoose.Schema({
    name: {
      type: String,
      required: true
    },
    department: {
      type: String,
      required: true
    },
    email: {
      type: String,
      required: true
    },
    password: {
      type: String,
      required: true
    },
    Ac: {
      type: String,
      required: true
    },
    phoneno: {
      type: String,
      required: true
    },
    gender: {
      type: String,
      required: true
    }
  });
  
  // Define models
  
  const register=new mongoose.model("register",LogInSchema)
  
  module.exports=register